* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  background-color: #fff;
  color: #000;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.tasks {
  width: 100%;
  max-width: 768px;
}

.tasks header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tasks header h1 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.tasks header button {
  color: red;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.2s;
}

.tasks header button:hover {
  border: 2px solid red;
  border-radius: 4px;
}

.tasks header button:active {
  scale: 0.9;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-radius: 0.5rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item input[type="checkbox"] {
  margin-right: 1rem;
}

.item input[type="text"] {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  flex: 1 1 0%;
  margin-right: 1rem;
}

.item input[type="text"]:not(:disabled) {
  border-bottom: 2px solid #000;
}

.item.complete {
  opacity: 0.7;
}

.item.complete input[type="text"] {
  text-decoration: line-through;
}

.item:hover,
.item:focus-within {
  outline: 2px solid #000;
}

.actions button {
  color: #000;
  margin-right: 1rem;
  opacity: 0.7;
  transform: 0.1s;
}

.actions button.remove {
  color: red;
}

.actions button:hover {
  opacity: 1;
}

.actions button:last-of-type {
  margin-right: 0;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 425px) {
  
  .item input[type="text"],
  .item input[type="checkbox"] {
    margin: 0;
  }

  .item input[type="text"] {
    width: 0;
    margin: 0 5px;
  }

  main {
    width: 100%;
  }

  .item .actions {
    display: flex;
    gap: 5px;
  }

  .actions button {
    margin: 0;
  }
}
